"*":
  "atom-beautify":
    css:
      beautify_on_save: true
    html:
      beautify_on_save: true
    markdown:
      beautify_on_save: true
      gfm: false
    php:
      beautify_on_save: true
    sass:
      beautify_on_save: true
    scss:
      beautify_on_save: true
    vue:
      beautify_on_save: true
      wrap_attributes: "force"
  "atom-package-sync": {}
  core:
    telemetryConsent: "no"
    uriHandlerRegistration: "always"
  editor:
    fontSize: 19
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    tabLength: 4
    tabType: "hard"
  "exception-reporting":
    userId: "03eccb63-153d-4590-92df-747e3030d5ab"
  welcome:
    showOnStartup: false
